<script src="/javascript/nav.js"></script>
<h2>Navigation</h2>
<div id="links">
    <li><a href="/dreamspace/gamerecs.html">Game Recs</a></li>
    <li><a href="/dreamspace/hypnorambles.html">Hypno Rambles</a></li>
    <li><a href="/dreamspace/spirals.html">Spiral Generators</a></li>
    <li><a href="/index.html">Back to Main Site</a></li>
</div>
<hr>
<p id="tiny">Link back to me! Hotlinking's OK!</p>
<img src="/images/dreamspace/dreamspacebtn.png">
<textarea><a target="_blank" href="https://jaysplace.neocities.org/dreamspace/"><img src="https://file.garden/ZrZSgsrYfQXsO7QH/dreamspacebtn.png"></a></textarea>
<hr>
<button onclick="toggleTheme()">Switch Themes</button>
