<script src="/javascript/nav.js"></script>
<h2>Navigation</h2>
<div id="links">
    <li><a href="/dreamspace/dreamjournal.html">Dream Journal</a></li>
    <li><a href="/dreamspace/halfasleep.html">Half-Asleep</a></li>
    <li><a href="/dreamspace/links.html">Links Out</a></li>
    <li><a href="/index.html">Back to Main Site</a></li>
</div>
<button onclick="toggleTheme()">Switch Themes</button>
