<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jay's Place || {{ title }}</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="color-scheme" content="light only"/>
    <meta name="theme-color" content="#21282e">
    
    <!--meta tags-->
    <meta name="description" content="{{ description }}"/>
    <meta property="og:site_name" content="Neocities"/>
    <meta property="og:title" content="Jay's Place || {{ title }}"/>
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:image" content="https://file.garden/ZrZSgsrYfQXsO7QH/jaysplacebtn.png"/>
    <meta property="og:image:height" content="800"/>
    <meta property="og:url" content="https://jaysplace.neocities.org/graphics/{{ name }}"/>
    
    <!--and the bird app bc they just have to be special-->
    <meta name="twitter:title" content="Jay's Place || {{ title }}" />
    <meta name="twitter:image" content="https://file.garden/ZrZSgsrYfQXsO7QH/jaysplacebtn.png">
    <meta name="twitter:description" content="{{ description }}">
    <meta property="twitter:card" content="summary_large_image"/>
    
    <link rel="canonical" href="https://jaysplace.neocities.org/graphics/{{ name }}"/>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" type="text/css" href="/style.css">

    <div id="preloader"></div>
</head>
<body>
    <div id="container">
        <header><a href="/index.html">Jay's Place &#127744;</a></header>
        <div id="main">
        <div id="nav">{% include 'nav.njk' %}</div>
        <main>
        <div id="graphnav">{% include 'graphnav.njk' %}</div>     
        {{ content | safe }}
        </main> 
        </div>
        <footer>jay's place &copy; 2025</footer>
    </div>
    <script>
        var loader = document.getElementById("preloader");
        window.addEventListener("load", function () {
          loader.style.display = "none";
        });
    </script>
</body>
</html>