<h2>Navigation</h2>
<div id="links">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/microblog.html">Microblog</a></li>
    <li><a href="/stats.html">Stats</a></li> 
</div>
<hr>
<p id="tiny">Link back to me! Hotlinking's OK!</p>
<img src="/images/jaysplacebtn.png">
<textarea><a target="_blank" href="https://jaysplace.neocities.org"><img src="https://file.garden/ZrZSgsrYfQXsO7QH/jaysplacebtn.png"></a></textarea>
<hr>
<p><img class="static" src="/images/pika.png" style="max-height: 99.5px;border-right: solid 1px black;border-bottom: solid 1px black;"><img id="pika" class="active" src="/images/pikaconstruct.gif"></p>