<h2>Navigation</h2>
<p><a href="/index.html">Home</a></p>
<p><a href="/about.html">About</a></p>
<hr>
<p id="tiny">Link back to me! Hotlinking's OK!</p>
<img src="/images/jaysplacebtn.png">
<textarea><a target="_blank" href="https://jaysplace.neocities.org"><img src="https://file.garden/ZrZSgsrYfQXsO7QH/jaysplacebtn.png"></a></textarea>
<hr>
<p><img id="pika" src="/images/pikaconstruct.gif"></p>