@font-face {
    font-family: Binchotan;
    src: url("/fonts/Binchotan.ttf");
  }
$bg:#21282e;
$lightbg:#0f4a70;
$altbg:#0065a8;
$accent:#cd6529;
$light:#54bbff;
$altlight:#ffa068;
$text:whitesmoke;
$borders:#b3a5c0;
$font:"Binchotan", sans;

:root{
    --bg:#21282e;
    --lightbg:#0f4a70;
    --altbg:#0065a8;
    --accent:#cd6529;
    --light:#54bbff;
    --altlight:#ffa068;
    --text:whitesmoke;
    --borders:#b3a5c0;
    --font:"Binchotan", sans;
}
html{
    height:100%;
    width:100%;
    font-size: 18px;
}
body:before{
    background-attachment: scroll;
    content: '';
    display: block;
    position: fixed;
    width:100vw;
    height:100vh;
    left:0;
    top:0;
    transform: scale(1);
    z-index: -700;
    background-image: url("/images/bg.png");
    background-size: cover;
    background-position: center, 0% 0%;
}
body{
    background-color:$bg;
    font-family: $font;
    color: $text;
    font-size:1rem;
    line-height:normal;
    font-weight:150;
}
body, html {
    scrollbar-width: auto;
    scrollbar-color: $altbg $borders;
}
img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimizeQuality;
}
#container{
    display: block;
    max-width:80%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
#lr, #main{
    display: flex;
    width: 100%;
}
#wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#pfp{
    margin: 0px 1rem 0px 0px;
}
main{
    display: block;
    width: 100%;
}
.center{
    text-align: center;
    margin: 0 auto
}
/*Main content*/
@mixin boxsets( $contentbg:$bg , $align:start ){
    width:100%;
    background-color: $contentbg;
    color:$text;
    text-align: $align;
    margin: 5px 0px 5px;
    border:2px solid $borders;
    padding:1rem;
}
header{
    @include boxsets( $contentbg:$accent , $align:center );
    font-size: 2rem;
    margin-bottom: 5px;
    a{
        text-decoration: none;
    }
    a:hover{
        color:$light
    }
}
footer{
    @include boxsets( $contentbg:$accent , $align:center );
    margin: 5px auto;
    a{
        text-decoration: none;
    }
}
#content{
    @include boxsets
}
#content2{
    @include boxsets( $contentbg:$lightbg )
}
.callout{
    @include boxsets( $contentbg:$lightbg );
    margin:5px 2px;
    width:300px;
    height: min-content;
}
/*Navigation*/
#nav{
    width:12rem;
    text-align: center;
    background-color: $altbg;
    color:$text;
    font-size: 1.2rem;
    margin: 5px 10px 5px 0px;
    border:2px solid $borders;
    padding:1rem;
    a{
        font-size: 1rem;
        line-height: 1.8rem;
    }
    li{
        list-style: none;
        line-height: 1.8rem;
    }
    p{
        text-align: center;
    }
    #pika{
        max-height: 150px;
    }
}
#graphnav{
    @include boxsets( $contentbg:$lightbg );
    text-align: center;
}
/*Dropdown*/
.dropdown {
    position: relative;
    display: block;
}
.dropdown-content {
    display: none;
    text-align: start;
    position: relative;
    margin: 5px;
    margin-left: 15px;
}
.show {
    display:block;
}
/*Text*/
p{
    text-align: start;
}
p#tiny{
    font-size: 0.8rem;
}
b{
    font-weight: 900;
}
a {
    color: whitesmoke;
    font-size: inherit;
    text-decoration:underline;
    button{
        text-decoration: none;
    }
}  
a:hover {
    color: $altlight;
    transition: 0.6s ease;
}
textarea{
    background-color: $lightbg;
    color: $borders;
    border: dashed 3px $borders;
    font-family: $font;
    font-size:0.7rem;
    padding:2px;
    height:2rem
}
/*Buttons*/
button {
    background-color: $accent;
    color:$text;
    cursor: pointer;
    width: auto;
    transition: 0.3s;
    font-family: $font;
    border:none;
    border-radius:15px;
    font-size:1rem;
    line-height:1;
    padding: 11px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 0px 2px $borders;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
  }
button:hover {
    transition: all .2s ease-out;
    transform: scale(1.02);
  }
/*Custom Titles*/
[data-title]:hover:after {
    opacity: 1;
    transition: 0.6s ease;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: $altbg;
    border: 2px solid $borders;
    box-shadow:0px 2px 5px 0px $bg;
    color: $text;
    font-size: 0.8rem;
    position: absolute;
    opacity: 0;
    padding: 5px;
    display: block;
    z-index: 99999;
    left: 5px;
    margin: 10px;
    width: 11rem;
    bottom: 1px;
    text-decoration: none;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
.title{
    background-color: $altbg;
    border: solid 2px $borders;
    max-width: fit-content;
    padding:5px 10px;
}
/*Charts*/
table, th, td {
    text-align:start;
    border: 1px solid $text;
    padding:0.5rem;
    border-collapse: collapse;
}
table{
    margin-top: 15px;
    width:95%;
}
.symbol{
    text-align: center;
}
th{
    background-color: $altbg;
}
#center{
    display:table;
    margin-left:auto;
    margin-right:auto;
}
/*Extras*/
.scrollbox{
    width:18rem;
    height:18rem;
    margin: 0px 1rem;
    overflow-y: auto;
}
#pixels{
    display: flex;
    margin: 5px;
}
::selection {
    background: $borders;
    color:$bg
}
.pic{
    max-width: 240px;
    margin: 0px 2px;
}
hr{
    background-color:$borders;
    border:none;
    border-radius:5px;
    height: 2px;
}
marquee{
    background-color: $altbg;
    padding-top: 4px;
    margin: 5px
}
#imghover{
    display: block;
    text-align: center;
    margin: 5px auto;
    img{
    padding-right: 5px;
    }
    img:hover{
    transition: all .2s ease-out;
    transform: scale(1.1); 
}
}
.static {
    position:absolute;
}
.static:hover {
    opacity:0;
}
#preloader {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    background: $bg
      url("/images/oval.svg")
      no-repeat center;
    z-index: 9999;
}
/*Media Querey*/
@media (max-width: 768px){
    html{
        font-size:17px
    }
    #container{
        margin-left: 1rem;
        margin-right: 2.75rem;
    }
    #lr, #main{
        display: block;
        width: 100%;
    }
    #lr{
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }
    #pfp{
        margin: 0;
    }
    h3{
        text-align: center;
    }
    textarea{
        height: 1.5rem;
    }
    #nav{
        width: 100%;
        margin: 5px 0 5px;
        li{
            font-size: 1.25rem;
            line-height: 1.3rem;
        }
        #pikapika{
            display: none;
        }
    }
    .dropdown-content {
        width: 100%;
        margin-left: -5px;
        text-align: center;
    }
    .callout{
        width: 90%;
        margin: 5px auto
    }
    .scrollbox{
        width:90%;
        height:max-content;
        margin-bottom: 1rem;
        p{
            text-align: center;
        }
    }
    #pixels{
        text-align: center;
        justify-content: center;
        margin: 5px auto;
    }
    .pic{
        display: block;
        margin: 5px auto
    }
}